body {
  background-color: #000000; // needs to be changes to correct colour / image
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  font-size: 10px
}
h1 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}

nav {
  button {
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    border: solid 1px #ffffff;
    padding: 10px 20px;
    margin: 5px;
    transition: 0.3s;
    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  margin: 15px;
  img {
    width: 100%;
  }
  .image-source-text {
    width: 100%;
    font-size: 1rem;
  }
  .planet-description-text {
    border-top: solid 2px #7B7B7B;
    border-bottom: solid 2px #7B7B7B;
    margin: 0;
    padding: 30px 0;
  }
  .details-table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0;
    p {
      margin: 4px;
    }
  }
  .detail-table-heading {
    font-weight: 600;
    color: #E875AB;
  }
}