body {
  background-image: linear-gradient(to bottom, #00000050, #00000050), url('cosmos-1853491_1920.jpg');
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  font-size: 10px
}

h1 {
  margin: 20px;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  text-align: center;
}
main {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}

.grid-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  margin: auto;
  padding: 20px 20px;

  .back-button {
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: #000000;
    color: #03FC13;
    font-weight: 600;
    font-size: 2rem;
    border: solid 1px #03FC13;
    padding: 20px 23px;
    transition: 1s;
    text-decoration: none;
    &:hover {
      border-color: #ffffff;
      color: #ffffff;
    }
  }

  .desktop-back-button-text {
    display: none;
  }

  img {
    width: 100%;
  }

  .image-source-text {
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }

  .planet-description-text {
    border-top: solid 2px #7B7B7B;
    border-bottom: solid 2px #7B7B7B;
    margin: 0;
    padding: 30px 0;
  }

  .details-table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0;
    p {
      margin: 4px;
    }
  }

  .detail-table-heading {
    font-weight: 600;
    color: #E875AB;
  }
}

@media screen and (min-width: 800px) {

  .grid-parent {
    max-width: 1400px;
    display: grid;
    justify-content: center;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    .desktop-back-button-text {
      display: inline;
    }
    .back-button {
      font-size: 1.2rem;
    }
    .desktop-back-button-text {
      font-size: 1.2rem;
    }
  }

  .image-source-text {
    text-align: center;
  }

  h1 {
    grid-row-start: 1;
    grid-column: 2;
    text-align: left;
    margin: 0;
  }

  h2 {
    grid-column: 2;
    font-size: 1.5rem;
    text-align: left;
  }

  .planet-image-section {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 1;
  }

  .planet-details-section {
    grid-column: 2;
    grid-row-start: 2;
  }

}