.solar-system-container {
  display: none;
}

@media screen and (min-width: 600px) {
  body {
    background-image: url("cosmos-1853491_1920.jpg");
  }

  .hidden-on-desktop {
    display: none;
  }

  .title-image-container {
    position: absolute;
    width: 95%;
    z-index: 1;
    border: #ffffff solid 2px;
    border-radius: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    #title-image {
      padding: 0;
      width: 50%;
    }
  }

  .mobile {
    display: none;
  }

  .solar-system-container {
    display: block;
    width: 100%;
    height: 95vh;
    position: relative;

    .orbit-svg {
      position: absolute;
    }

    .orbit {
      stroke: #595858;
    }

    .desktop {
      width: 12%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
    }

    #senda {
      fill: #e6e6e6;
      position: absolute;
      top: 50%;
      left: 97%;
    }

    #eris {
      fill: #6e2e2e;
      position: absolute;
      top: 50%;
      left: 3%;
    }

    #gonggong {
      fill: #956986;
      position: absolute;
      top: 50%;
      left: 93%;
    }

    #makemake {
      fill: #6e2e2e;
      position: absolute;
      top: 50%;
      left: 7%;
    }

    #quaoar {
      fill: #573232;
      position: absolute;
      top: 50%;
      left: 87%;
    }

    #haumea {
      fill: #808080;
      position: absolute;
      top: 50%;
      left: 11.5%;
    }

    .haumea-ring {
      stroke: #808080;
      position: relative;
      top: 50%;
      left: 98%;
    }

    #pluto {
      fill: #ffffff;
      position: absolute;
      top: 50%;
      left: 83%;
    }

    #orcus {
      fill: #424242;
      position: absolute;
      top: 50%;
      left: 17%;
    }

    #neptune {
      fill: #414bb2;
      position: absolute;
      top: 50%;
      left: 79%;
    }

    #uranus {
      fill: #ace5e8;
      position: absolute;
      top: 50%;
      left: 21%;
    }

    #saturn {
      fill: #fac711;
      position: absolute;
      top: 50%;
      left: 72%;
    }

    .saturn-ring {
      stroke: #fac711;
    }

    #jupiter {
      fill: #aa5f90;
      position: absolute;
      top: 50%;
      left: 29%;
    }

    #ceres {
      fill: #808080;
      position: absolute;
      top: 50%;
      left: 67%;
    }

    #mars {
      fill: #f45642;
      position: absolute;
      top: 50%;
      left: 33%
    }

    #earth {
      position: absolute;
      fill: #2d9bf0;
      top: 50%;
      left: 63%;
    }

    #venus {
      fill: #e6e6e6;
      position: absolute;
      top: 50%;
      left: 37%;
    }

    #mercury {
      fill: #b4badf;
      position: absolute;
      top: 50%;
      left: 59%;
    }
  }
  .planet-card {
    position: absolute;
    top: 50%;
    left: 0;
    width: 200px;
    }
}
