@import "solarSystem.scss";

body {
  font-family: 'Archivo Black', sans-serif;
  font-size: 10px;
  background-image: url("stars-background.jpg");
  color: white;
}

h1 {
    display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  #title-image {
    width: 100%;
  }
  svg {
    filter: drop-shadow(0 0 15px yellow);
  }
}


