body {
  font-family: "Archivo Black", sans-serif;
  font-size: 10px;
  background-image: url("stars-background.jpg");
  color: white;
}

h1 {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px;
}
main #title-image {
  padding-top: 50px;
  width: 100%;
}
main .sun-image {
  filter: drop-shadow(0 0 50px #ef5f02);
  width: 100%;
  animation: glow-animation 2s linear infinite;
}
@keyframes glow-animation {
  0% {
    filter: drop-shadow(0 0 50px #ef5f02);
  }
  50% {
    filter: drop-shadow(0 0 50px #c31b02);
  }
  100% {
    filter: drop-shadow(0 0 50px #ef5f02);
  }
}
main .planet-card {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
main .planet-card img {
  width: 75vw;
}
main .planet-card .planet-card-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .planet-card .planet-card-info-container h2 {
  font-size: 5rem;
  margin: 0;
}
main .planet-card .planet-card-info-container h3 {
  font-size: 3rem;
  margin: 0;
}

@media screen and (min-width: 600px) {
  body {
    background-image: url("cosmos-1853491_1920.jpg");
  }

  .planet-card-container {
    display: none;
    border: white solid 1px;
  }

  .title-image-container {
    position: absolute;
    width: 95%;
    z-index: 1;
    border: #ffffff solid 2px;
    border-radius: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .title-image-container #title-image {
    padding: 0;
    width: 700px;
  }

  .mobile {
    display: none;
  }

  .solar-system-container {
    width: 100%;
    height: 95vh;
    position: relative;
  }
  .solar-system-container .orbit-svg {
    position: absolute;
  }
  .solar-system-container .orbit {
    stroke: #595858;
  }
  .solar-system-container .desktop {
    width: 12%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
  }
  .solar-system-container #senda {
    fill: #e6e6e6;
  }
  .solar-system-container #eris {
    fill: #6e2e2e;
  }
  .solar-system-container #gonggong {
    fill: #956986;
  }
  .solar-system-container #makemake {
    fill: #6e2e2e;
  }
  .solar-system-container #quaoar {
    fill: #573232;
  }
  .solar-system-container #haumea {
    fill: #808080;
  }
  .solar-system-container .haumea-ring {
    stroke: #808080;
  }
  .solar-system-container #pluto {
    fill: #ffffff;
  }
  .solar-system-container #orcus {
    fill: #424242;
  }
  .solar-system-container #neptune {
    fill: #414bb2;
  }
  .solar-system-container #uranus {
    fill: #ace5e8;
  }
  .solar-system-container #saturn {
    fill: #fac711;
  }
  .solar-system-container .saturn-ring {
    stroke: #fac711;
  }
  .solar-system-container .saturn {
    transform: rotate(45deg);
  }
  .solar-system-container #jupiter {
    fill: #aa5f90;
  }
  .solar-system-container #ceres {
    fill: #808080;
  }
  .solar-system-container #mars {
    fill: #f45642;
  }
  .solar-system-container #earth {
    fill: #2d9bf0;
  }
  .solar-system-container #venus {
    fill: #e6e6e6;
  }
  .solar-system-container #mercury {
    fill: #b4badf;
  }
}

/*# sourceMappingURL=style.css.map */
